@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
	font-size: 15px;
	--color-text: #fff;
	--color-bg: rgb(3, 0, 14);
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	margin: 0;
	color: var(--color-text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #030014;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 3rem;
	background: radial-gradient(45% 100% at 50% 50%, #fff 30%, hsla(0, 0%, 100%, .35) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a h1::after {
	content: '';
	display: flex;
	width: 50%;
	height: 1px;
	background: #2a2b3a;
	margin-left: 1rem;
}

h2 {
	margin: 0;
	padding: 0 1.5rem;
}

p {
	font-weight: 500;
	font-size: 1rem;
	margin: 0;
	padding: 0 1.5rem;
}

main {
	padding: 0rem 2rem;
	margin: 0 auto;
	height: 100vh;
}

footer {
	padding: 2rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

a:hover {
	cursor: pointer;
	color: #9fa2b9;
	transition: 0.2s ease-in-out;
}

svg {
	fill: var(--color-text);
	font-family: 'Times New Roman', Times, serif;
}

.preloader {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #030014;
	transition: opacity 0.5s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader h2 {
	font-size: 2.5rem;
	font-weight: 500;
	display: flex;
	align-items: center;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0rem 2rem;
	margin: 0 auto;
	border-bottom-left-radius: 2.4rem;
	border-bottom-right-radius: 2.4rem;
}

.hero-container {
	height: 100vh;
	background: radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, #63e 69.27%, #fff 100%);
	background-color: #030014;
	border-bottom-left-radius: 2.4rem;
	border-bottom-right-radius: 2.4rem;
}

.nav-container {
	z-index: 100;
	margin: 0 auto;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 2rem 4rem 0;
}

.nav-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-logo a {
	text-decoration: none;
	color: #fff;
	margin: 0;
	display: flex;
	pointer-events: all;
	white-space: nowrap;
	align-items: center;
	height: 2.8rem;
	justify-content: center;
	padding: 0 0.8rem;
	font-weight: 500;
	font-size: 1rem;
}

.nav,
.language-switch {
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: center;
	pointer-events: all;
	padding: 0 0.4rem;
	border-radius: 1.6rem;
	background: rgba(1, 3, 20, .95);
	border: 1px solid hsla(0, 0%, 100%, .2);
	font-size: 1rem;
}
.nav {
	position: fixed;
	top: 2rem;
	left: calc(50% - 13.5rem);
	transition: opacity .3s linear;
}

.nav-cover {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	margin: auto;
	border-radius: 1.6rem;
	z-index: 0;
	-webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
	background: rgba(1, 3, 20, .95);
}

.nav-mobile-container {
	position: fixed;
	width: 100%;
    z-index: 100;
	visibility: hidden;
	padding: 2rem 4rem 0;
}

.nav-mobile-container .nav-mini {
	position: relative;
    z-index: 100;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	pointer-events: all;
	padding: 0 0.4rem;
	border-radius: 1.6rem;
	background: rgba(1, 3, 20, .95);
	border: 1px solid hsla(0, 0%, 100%, .2);
	font-size: 1rem;
}

.hamburger {
	height: 2rem;
    width: 3.2rem;
    border: none;
    background: transparent;
    border-radius: 1rem;
    margin-left: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsla(0,0%,100%,.15);
}

.hamburger:hover {
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.hamburger-inner {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #030014;
	transition: opacity 0.3s linear;
}

.hamburger-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.nav-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	gap: 1rem;
	padding: 10rem 0 0 0;
}

.nav-links .nav-link {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 4rem;
	font-size: 1.5rem;
}

.line-separator {
	height: 1px;
	background: #2a2b3a;
	width: 85%;
}

.nav:before {
	opacity: var(--nav_opacity);
	top: -800%;
	right: -800%;
	bottom: -800%;
	left: -800%;
	content: "";
	position: absolute;
	background-image: conic-gradient(#c77dff, #9d4edd 20%, #7b2cbf 50%, #5a189a 75%, #e0aaff 100%);
	animation: backgroundGradientSpin 5s linear infinite;
	z-index: -1;
	transition: opacity .3s linear;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.nav a,
.nav-mini a,
.language-switch span {
	text-decoration: none;
	color: #fff;
	margin: 0;
	display: flex;
	pointer-events: all;
	white-space: nowrap;
	align-items: center;
	gap: 1rem;
	height: 2.8rem;
	justify-content: center;
	padding: 0 0.8rem;
	z-index: 1;
}

.nav a:hover {
	opacity: 0.75;
	transition: 0.2s ease-in-out;
}

.language-switch-button:hover {
	cursor: pointer;
}

.hero {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	height: 100%;
	padding: 2rem;
	gap: 1.5rem;
	position: relative;
	z-index: 1;
}

#heroCanvas {
	width: 100%;
	overflow: hidden;
	user-select: none;
	animation: fadeIn 2s linear;
}

.hero-content {
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.HeroBanner_button_projects {
	padding: 1px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	align-items: center;
	border-radius: 1.6rem;
	-webkit-text-decoration: none;
	text-decoration: none;
	justify-content: center;
	transform: translateZ(0);
	cursor: pointer;
	font-size: .8rem;
	margin-bottom: 1.2rem;
	transition: opacity .3s;
}

.HeroBanner_button_projects:before {
	top: -800%;
	right: -800%;
	bottom: -800%;
	left: -800%;
	content: "";
	opacity: .75;
	position: absolute;
	background-image: conic-gradient(#c77dff, #9d4edd 20%, #7b2cbf 50%, #5a189a 75%, #e0aaff 100%);
	animation: backgroundGradientSpin 5s linear infinite;
	transition: opacity .25s;
}

.HeroBanner_button_projects .HeroBanner_button_projects_inner {
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	background: #171825;
}

.HeroBanner_button_projects:hover:before {
	opacity: 1
}

.HeroBanner_button_projects_inner {
	z-index: 2;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: 500;
	position: relative;
	border-radius: 1.6rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all .2s;
	padding: 0.2rem 1.6rem;
	font-size: 1rem;
}

.HeroBanner_button_contact {
	padding: 1px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	align-items: center;
	border-radius: 1.6rem;
	-webkit-text-decoration: none;
	text-decoration: none;
	justify-content: center;
	cursor: pointer;
	font-size: .8rem;
	margin-bottom: 1.2rem;
}

.HeroBanner_button_contact:hover {
	opacity: 0.75;
	transition: 0.2s ease-in-out;
}

.HeroBanner_button_contact_inner {
	z-index: 2;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: 500;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.2rem 0 0.2rem 0.6rem;
	font-size: 1rem;
}

.about-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 4rem 0 0;
}

.about {
	display: grid;
	grid-template-columns: 50% 50%;
	border: 1px solid #2a2b3a;
	border-radius: 1.6rem;
	background: var(--color-bg);
	padding: 4rem 2rem;
}

.about-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.about-content p {
	padding: 1rem 1.5rem;
}

.about-info {
	display: flex;
	flex-direction: column;
	padding: 0 1.5rem 1rem;
	gap: 0.3rem;
	margin-top: auto;
}

.about-skills {
	display: grid;
	gap: 1.5rem;
}

.tags {
	padding: 1rem 1.5rem;
}

.tag {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border-radius: 1em;
	font-size: 0.85rem;
	border: 1px solid #2a2b3a;
}

#aboutCanvas {
	width: 100%;
	height: auto;
	padding: 8rem 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blog-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 4rem 2rem 0;
}

.blog-carrossel {
	overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    padding: 0;
    margin: 0;
    grid-gap: 1rem;
    grid-auto-flow: column;
    list-style: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.blog-carrossel::-webkit-scrollbar {
	display: none;
}

.blog-item {
	display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    user-select: none;
    margin: 0 auto;
    padding: 2rem;
    background: var(--color-bg);
    border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, 8px);
    cursor: pointer;
	border: 1px solid #2a2b3a;
	border-radius: 1.6rem;
}

.blog-item img {
	aspect-ratio: 1/1;
    width: 17rem;
    height: 17rem;
	user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    margin-bottom: 16px;
    border-radius: clamp(0px, ((100vw - 4px) - 100%) * 9999, 4px);
	padding-bottom: .5rem;
	transition: 0.3s ease-in-out;
}

.blog-item img:hover {
	cursor: pointer;
}

.blog-item img a {
	color: rgba(255, 255, 255, 0);
}

.blog-title {
	width: 100%;
	display: flex;
    justify-content: space-between;
	gap: 1rem;
}

.blog-date {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .8rem;
	font-weight: 500;
}

.blog-description {
	width: 100%;
	font-size: 0.9rem;
}

.blog-tags {
	width: 100%;
	display: flex;
    justify-content: space-between;
	padding-top: 1rem;
}

.scroll-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.scroll-right-button,
.scroll-left-button {
	background: none;
	border: none;
	padding: .5rem;
}

.scroll-right-button svg,
.scroll-left-button svg {
	width: 2.5rem;
	height: 2.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem; 
	padding-left: 0.5rem;
	padding-right: 0.5rem; 
	border-radius: 9999px;	
	background: var(--color-bg);
	border: 1px solid #2a2b3a;
	fill: var(--color-text);
	cursor: pointer;
}

.projects-container {
	max-width: 1400px;
	margin: 0 auto;
}

.projects-grid {
	display: grid;
	margin: 10vh 0;
	grid-template-columns: 1fr;
	border: 1px solid #2a2b3a;
	background: #2a2b3a;
	gap: 1px;
}

.grid__item {
	padding: 1.5rem 1.5rem 2rem;
	display: grid;
	gap: 1.5rem;
	background: var(--color-bg);
	align-content: start;
	grid-template-rows: auto 1fr auto;
}

.grid__item-img {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 1.6rem;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	--x: 0px;
	--y: 0px;
}

.grid__item-img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgb(23, 24, 37) 40%, rgb(102, 51, 238) 50%, rgb(142, 100, 255), rgb(249, 38, 114));
	mix-blend-mode: darken;
}

.grid__item-img-deco {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: "input-mono", monospace;
	font-size: 0.85rem;
	word-wrap: break-word;
	line-height: 1.15;
	color: #fff;
	opacity: 0;
	-webkit-mask-image: radial-gradient(300px circle at var(--x) var(--y), black 20%, rgba(0, 0, 0, 0.25), transparent);
	mask-image: radial-gradient(300px circle at var(--x) var(--y), black 20%, rgba(0, 0, 0, 0.25), transparent);
}

.grid__item-img img {
	width: 90%;
	height: 90%;
	position: relative;
	z-index: 1;
}

.grid__item-label {
	line-height: 1.4;
	margin: 0;
}

.grid__item-tag {
	align-self: end;
	justify-self: start;
	border: 1px solid #2a2b3a;
	border-radius: 1em;
	line-height: 0.75;
	padding: 0.5rem 0.75rem;
	font-size: 0.85rem;
}

.header {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	background-color: var(--color-bg);
	border: 1px solid #2a2b3a;
	border-radius: 1.6rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
	color: var(--color-text);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
}

.header svg {
	width: 1rem;
	height: 1rem;
	fill: var(--color-text);
}

.resume {
	max-width: 1400px;
	margin: 0 auto;
	border: 1px solid #2a2b3a;
	border-radius: 1.6rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	background: var(--color-bg);
	width: 100%;
	height: 91vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.resume canvas {
	max-width: 918px;
	height: 95vh;
	width: calc(95vh / 1.294);
	padding: 4rem;
	border-radius: 4.5rem;
}

.maximize {
	transition: 0.2s ease-in-out;
}

.maximize:hover {
	cursor: pointer;
	color: #fff;
	transform: scale(1.1);
}

.contact-container {
	display: grid;
	grid-template-areas: "a" "b";
	grid-template-columns: 50% 50%;
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 4rem 0;
	gap: 4rem;
	overflow-x: hidden;
}

.contact-info {
	grid-area: a;
}

.contact-info h2,
.social-media h2 {
	margin: 0;
	padding: 0;
}

.contact-info p {
	padding: 0;
	margin-top: 1rem;
}

.contact-info form {
	margin-top: 2rem;
	display: grid;
	gap: 1rem;
	font-size: 1rem;
	font-weight: 500;
}

.contact-info input,
.contact-info textarea {
	width: 100%;
	padding: 1rem;
	border: 1px solid #2a2b3a;
	border-radius: 0.5rem;
	font-size: 1rem;
	font-weight: 500;
}

.contact-info textarea {
	resize: none;
	height: 10rem;
}

.contact-info button {
	padding: 1rem 2rem;
	background-color: var(--color-bg);
	color: var(--color-text);
	border: 1px solid #2a2b3a;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.contact-info button:hover {
	background-color: #2a2b3a;
}

.social-icons {
	grid-area: b;
	padding: 1rem 0 0 0;
	margin-right: 1.5rem;
}

.social-icons a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	border-radius: 1rem;
	background-color: var(--color-bg);
	border: 1px solid #2a2b3a;
	margin: 1rem;
	transition: 0.2s ease-in-out;
}

.social-icons a:hover {
	background-color: #2a2b3a;
}

.social-icons a svg {
	width: 2.5rem;
	height: 2.5rem;
}

.animate-on-scroll {
	opacity: 0;
	transition: 1s ease-in-out;
}

.animate-on-scroll.animate {
	opacity: 1;
}

.hidden {
	display: none;
}

@keyframes opacityBreathing {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes backgroundGradientSpin {
	0% {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(1turn)
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (min-height: 1080px) {
	.hero-container {
		height: 85vh;
	}
	.hero {
		grid-template-columns: 100% 0%;
		align-items: center;
	}
	.hero-content {
		align-items: center;
	}
	#particles-js {
		height: 85vh;		
	}
	.resume {
		height: 50vh;
	}
	.resume canvas {
		height: 50vh;
		width: calc(50vh / 1.294);
	}
}

@media (max-width: 999px) {
	.hero-container {
		padding: 0;
		height: 85vh;
	}
	#particles-js {
		height: 85vh;		
	}
	.hero {
		grid-template-columns: 100% 0%;
		align-items: center;
	}
	.hero-content {
		align-items: center;
	}
}

@media (max-width: 760px) {
	main {
		padding: 0;
	}
	.nav-container {
		visibility: hidden;
	}
	.nav-mobile-container {
		visibility: visible;
	}
	.nav-logo {
		justify-content: flex-start;
	}
	.language-switch {
		background: transparent;
		border: none;
	}

	.contact-container,
	.about-container {
		transition: none;
		padding: 4rem 2rem 0;
	}

	.resume-container,
	.projects-container {
		transition: none;
		padding: 0 2rem;
	}

	.resume canvas {
		height: 85vh;
		width: calc(85vh / 1.294);
	}

	footer {
		transition: none;
		padding: 4rem 2rem 2rem;
	}
}

@media (max-width: 600px) {
	.resume {
		height: 60vh;
	}
	.resume canvas {
		height: 60vh;
		width: calc(60vh / 1.294);
	}
}

@media (max-width: 495px) {
	h1 {
		font-size: 2.3rem;
	}
	.contact-container {
		grid-template-areas: "b" "a";
		grid-template-columns: none;
		grid-template-rows: 40% 70%;
		overflow-y: hidden;
	}
	.social-media {
		grid-area: "a";
	}
	.contact-info {
		grid-area: "b";
	}
}

@media (max-width: 390px) {
	h1 {
		font-size: 2rem;
	}
}

@media (max-width: 675px) {
	.about {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: 45% 50%;
	}
}

@media screen and (min-width: 33em) {
	.projects-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 53em) {
	.frame {
		grid-template-columns: auto 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title title sponsor' 'back prev ...';
		align-content: space-between;
		justify-items: start;
		grid-row-gap: 1.5rem;
	}

	.projects-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	body #cdawrap {
		justify-self: end;
	}
}