:root {
	font-size: 15px;
	--color-text: #fff;
	--color-bg: rgba(3, 0, 14, 0.5);
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
	margin: 0;
	color: var(--color-text);
	font-family: "neue-haas-grotesk-text",-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #030014;
}

h1 {
	font-weight: 500;
    font-size: 3rem;
	background: radial-gradient(45% 100% at 50% 50%,#fff 30%,hsla(0,0%,100%,.35) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} 

a h1::after {
	content: '';
	display: flex;
	width: 50%;
	height: 1px;
	background: #2a2b3a;
	margin-left: 1rem;
}

h2 {
	margin: 0;
	padding: 0 1.5rem;
}

p {
	font-weight: 500;
    font-size: 1rem;
	margin: 0;
	padding: 0 1.5rem;
}

main {
	padding: 0rem 2rem;
	margin: 0 auto;
    height: 100vh;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

a:hover {
	cursor: pointer;
	color: #9fa2b9;
	transition: 0.2s ease-in-out;
}

svg {
	fill: var(--color-text);
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0rem 2rem;
	margin: 0 auto;
	border-bottom-left-radius: 2.4rem;
	border-bottom-right-radius: 2.4rem;
}

.hero-container {
	height: 100%;
    background: radial-gradient(140% 107.13% at 50% 10%,transparent 37.41%,#63e 69.27%,#fff 100%);
	background-color: #030014;
	border-bottom-left-radius: 2.4rem;
	border-bottom-right-radius: 2.4rem;
}

.nav-container {
	z-index: 100;
	margin: 0 auto;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 2rem 4rem 0;
}

.nav-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-logo a {
	text-decoration: none;
	color: #fff;
	margin: 0;
	display: flex;
	pointer-events: all;
	white-space: nowrap;
	align-items: center;
	height: 2.8rem;
	justify-content: center;
	padding: 0 0.8rem;
	font-weight: 500;
	font-size: 1rem;
}

.nav, .language-switch {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    pointer-events: all;
    padding: 0 0.4rem;
    border-radius: 1.6rem;
    background: rgba(1,3,20,.95);
    border: 1px solid hsla(0,0%,100%,.2);
    font-size: 1rem;
}

.nav a, .language-switch span {
	text-decoration: none;
	color: #fff;
	margin: 0;
    display: flex;
    pointer-events: all;
    white-space: nowrap;
    align-items: center;
    gap: 1rem;
    height: 2.8rem;
    justify-content: center;
    padding: 0 0.8rem;
}

.nav a:hover {
	opacity: 0.75;
	transition: 0.2s ease-in-out;
}

.language-switch-button:hover {
	cursor: pointer;
}

.hero {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	height: 100%;
	padding: 2rem;
	gap: 1.5rem;
	position: relative;
	z-index: 1;
}

#heroCanvas {
	width: 100%;
	overflow: hidden;
	user-select: none;
	animation: fadeIn 2s linear;
}

.hero-content {
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.HeroBanner_button_projects {
    padding: 1px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 1.6rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    justify-content: center;
    transform: translateZ(0);
    cursor: pointer;
    font-size: .8rem;
    margin-bottom: 1.2rem;
    transition: opacity .3s;
}

.HeroBanner_button_projects:before {
    top: -800%;
    right: -800%;
    bottom: -800%;
    left: -800%;
    content: "";
    opacity: .75;
    position: absolute;
    background-image: conic-gradient(#c77dff,#9d4edd 20%,#7b2cbf 50%,#5a189a 75%,#e0aaff 100%);
    animation: backgroundGradientSpin 5s linear infinite;
    transition: opacity .25s;
}

.HeroBanner_button_projects .HeroBanner_button_projects_inner {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: #171825;
}

.HeroBanner_button_projects:hover:before {
    opacity: 1
}

.HeroBanner_button_projects_inner {
    z-index: 2;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 500;
    position: relative;
    border-radius: 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    padding: 0.2rem 1.6rem;
	font-size: 1rem;
}

.HeroBanner_button_contact {
	padding: 1px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	align-items: center;
	border-radius: 1.6rem;
	-webkit-text-decoration: none;
	text-decoration: none;
	justify-content: center;
	cursor: pointer;
	font-size: .8rem;
	margin-bottom: 1.2rem;
}

.HeroBanner_button_contact:hover {
	opacity: 0.75;
	transition: 0.2s ease-in-out;
}

.HeroBanner_button_contact_inner {
    z-index: 2;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 500;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0 0.2rem 0.6rem;
	font-size: 1rem;
}

.about-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 4rem 0 0;
}

.about {
	display: grid;
	grid-template-columns: 50% 50%;
	border: 1px solid #2a2b3a;
	border-radius: 1.6rem;
	background: var(--color-bg);
	padding: 4rem 2rem;
}

.about-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.about-content p {
	padding: 1rem 1.5rem;	
}

.about-info {
	padding: 0 1.5rem 1rem;
	margin-top: auto;
}

.about-skills {
	display: grid;
	gap: 1.5rem;
}

.tags {
	padding: 1rem 1.5rem;
}

.tag {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	border-radius: 1em;
	font-size: 0.85rem;
	border: 1px solid #2a2b3a;
}

.projects-container {
	max-width: 1400px;
	margin: 0 auto;
}

.projects-grid {
	display: grid;
	margin: 10vh 0;
	grid-template-columns: 1fr;
	gap: 1px;
    border-radius: 10px;
}

.grid__item {
	padding: 1.5rem 1.5rem 2rem;
	display: grid;
	gap: 1.5rem;
	background: var(--color-bg);
	align-content: start;
	grid-template-rows: auto 1fr auto;
    border-radius: 10px;
	border: 1px solid #2a2b3a;
}

.grid__item-img {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 1.6rem;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	--x: 0px; 
	--y: 0px;
}

.grid__item-img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(23, 24, 37, 0.5) 40%, rgb(102, 51, 238) 50%, rgb(142, 100, 255), rgb(249, 38, 114));
	mix-blend-mode: darken;
}

.grid__item-img-deco {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: "input-mono", monospace;
	font-size: 0.85rem;
	word-wrap: break-word;
	line-height: 1.15;
	color: #fff;
	opacity: 0;
	-webkit-mask-image: radial-gradient(300px circle at var(--x) var(--y),black 20%,rgba(0,0,0,0.25),transparent);
	mask-image: radial-gradient(300px circle at var(--x) var(--y),black 20%,rgba(0,0,0,0.25),transparent);
}

.grid__item-img img {
	width: 100%;
	max-width: 400px;
	position: relative;
	z-index: 1;
}

.grid__item-label {
	line-height: 1.4;
	margin: 0;
}

.grid__item-tag {
	align-self: end;
	justify-self: start;
	border: 1px solid #2a2b3a;
	border-radius: 1em;
	line-height: 0.75;
	padding: 0.5rem 0.75rem;
	font-size: 0.85rem;
}

.header {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
    background-color: var(--color-bg);
	border: 1px solid #2a2b3a;
	border-radius: 1.6rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
	font-size: 1rem;
}
.header svg {
	width: 1rem;
	height: 1rem;
	fill: var(--color-text);
}

.resume-container {
	max-width: 1400px;
	margin: 0 auto;
	border: 1px solid #2a2b3a;
	border-radius: 1.6rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	background: var(--color-bg);
	width: 100%;
	height: 91vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.resume-container canvas {
	max-width: 918px;
	height: 100vh;
	width: calc(100vh / 1.414);
	padding: 4rem;
	border-radius: 4.5rem;
}

.maximize {transition: 0.2s ease-in-out;}
.maximize:hover {
	cursor: pointer;
	border: 1px solid #2a2b3a;
	border-radius: 1.6rem;
	background-color: var(--color-bg);
	color: var(--color-text);
	padding: 0.6rem;
}

.contact-container {
	max-width: 1400px;
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 0 auto;
	padding: 4rem 0;
	width: 100%;
}

.hidden {
	display: none;
}

@keyframes backgroundGradientSpin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 33em) {
	.projects-grid {
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (min-width: 53em) {
	.frame {
		grid-template-columns: auto 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title title sponsor' 'back prev ...';
		align-content: space-between;
		justify-items: start;
		grid-row-gap: 1.5rem;
	}
	.projects-grid {
		grid-template-columns: repeat(3,1fr);
	}
	body #cdawrap {
	    justify-self: end;
	}
}