body {
    font-family: lato, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    overflow-x: hidden
}

#compatibility-notice strong {
    font-size: 1.171875rem
}

main {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.content {
    padding: 1rem 0;
    margin-top: -.25rem
}

figure {
    margin: .5rem
}

.sprite {
    margin: 0 .5rem;
    font-size: 0
}

#about {
    margin: 3.5rem 0 1.5rem;
    position: relative;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#about canvas {
    position: absolute;
    image-rendering: pixelated;
    width: 100%
}

#about .description {
    padding: .5rem 1rem;
    opacity: .8
}

#about .github {
    margin-top: .5rem
}

#about .github img {
    margin-right: .25rem;
    filter: invert(1);
    transition: filter .15s ease-in-out
}

#works .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#works figure {
    width: 28rem;
    margin: 0;
    margin-bottom: 3.5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
    overflow: hidden;
    transition: background-color .2s;
    cursor: pointer
}

#works figure:hover {
    background-color: rgba(255, 255, 255, .06)
}

#works figure .figimg {
    position: relative;
    border-radius: .25rem;
    overflow: hidden;
    width: 100%;
    min-height: 11rem
}

#works figure .sprite {
    margin: 0;
    position: relative
}

#works figure .sprite img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

#works figure video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

@media(min-width:768px) {
    #works figure, #works figure video, #works figure .figimg {
        width: 20rem
    }
}

@media(min-width:992px) {
    #works figure, #works figure video, #works figure .figimg {
        width: 22.5rem
    }
}

#works figure h2 {
    margin: .5rem 0
}

#works figure.more {
    opacity: .4;
    transition: opacity .4s
}

#works figure.more:hover {
    opacity: 1
}

#works figure.more .figimg {
    border: 1px dashed #fff;
    box-sizing: border-box
}

#works figure .note {
    line-height: .75rem
}

#works figure .notes span {
    padding: 0 .4rem .1rem;
    font-size: .75rem;
    border-radius: .15rem;
    margin: 0 .5rem
}

#works figure .notes span.secondary {
    background-color: #444
}

#works figure .notes span.primary {
    background-color: #375a7f
}

#works figure .notes span.warning {
    background-color: #7f530c
}

#works figure .links {
    margin-top: .5rem
}

#works figure .status {
    width: 100%;
    margin: 1rem 0;
    margin-left: -.25rem
}

#works figure .status img {
    width: 100%
}

#works figcaption {
    word-break: break-word;
    width: 100%
}

#works figcaption p {
    font-size: .9rem;
    margin: .5rem 0
}

#works figcaption p {
    font-size: 0.9rem;
    margin: .5rem 0;
}

#works figcaption p hr {
    margin: .25rem;
    border: none
}

#works figcaption a {
    float: left;
    margin: .5rem;
    margin-right: 1rem;
    margin-left: 0;
    color: #3498db;
    border: 1px solid #3498db;
    padding: .375rem .75rem;
    font-size: .9375rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out
}

#works figcaption a:hover {
    color: #fff;
    background-color: #3498db
}

#works figcaption a.github {
    float: none;
    border: none;
    padding: 0;
    filter: invert(1);
    transition: filter .15s ease-in-out
}

#works figcaption a.github:hover {
    filter: invert(0);
    background-color: transparent
}

#works figcaption a.github.disabled {
    pointer-events: none
}

#works figure .notes span:first-of-type, #works figcaption a:first-of-type {
    margin-left: 0
}

.copyright {
    margin-top: 6rem;
    opacity: .5
}

nav {
    position: relative;
    min-height: 3.5rem;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9001;
    display: flex;
    justify-content: space-between
}

nav .title {
    flex-grow: 0;
    display: none;
    pointer-events: none;
    font-weight: 700;
    font-size: 1.7rem
}

nav .menu {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1
}

nav a, nav a:visited {
    color: #fff;
    font-size: 1.2rem;
    line-height: 3.5rem;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    transition: color .4s, font-size .4s, background-color .4s;
    padding: 0 1.875rem
}

nav .menu a {
    width: 4.5rem;
    padding: 0
}

nav a:hover {
    background-color: rgba(255, 255, 255, .8)
}

nav a svg .fill {
    fill: #fff
}

nav a:hover svg .fill {
    fill: #151a1f
}

nav a svg .fill-invert {
    fill: #151a1f
}

nav a:hover svg .fill-invert {
    fill: #fff
}

nav a svg .stroke {
    stroke: #fff
}

nav a:hover svg .stroke {
    stroke: #151a1f
}

nav a svg .stroke-invert {
    stroke: #151a1f
}

nav a:hover svg .stroke-invert {
    stroke: #fff
}

nav .sprite, nav svg {
    height: 1.75rem;
    width: 1.75rem
}

nav a.ext-link, nav a.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 4rem
}

@media(min-width:468px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0
    }
}

@media(min-width:622px) {
    nav a.title {
        display: block
    }

    nav .menu {
        justify-content: flex-end
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: .5rem 1rem
}

@media(min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
    line-height: 1.2
}

h1 {
    font-size: 2.2rem
}

h2 {
    font-size: 1.5rem
}

details {
    margin-bottom: .75rem
}

.nota-bene {
    font-style: italic;
    text-align: center
}

.desktop {
    display: none
}

@media(min-width:992px) {
    .desktop {
        display: block
    }
}

a, a:visited {
    color: #3498db;
    text-decoration: none
}

a.disabled {
    opacity: .3;
    pointer-events: none;
    cursor: not-allowed
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
  }